/* There are two media fields included within this styling this is done
to make sure that smaller devices with a smalelr screen size can
properly use and view the webpage, and allows for the webpage
to present the intended idea and purpose. */

/* I want to view the CSS and try to find
any repetative code that can be simplified. 
This will be the general and global submit
of CSS, these will be items that remain
the same across platforms and will allow
for the code to be simplified.

This section of CSS is generalised and appears several times on both media fields.
To simply the CSS I have removed these lines and placed them outside of the media fields to
make them effect the webpage no matter what difference.
The media fields now have information that customise the design based on the actual differences
between the two versions of the website.*/
.main-div {
    top: 0px;
}
.container {
    margin: 5px;
    background-color: #ffffff;
    padding-left: 5px;
    padding: 5vw;
    height: auto;
    box-shadow: 5px 5px #cccccc;
}
.round-border {
    border: 1px solid black;
    border-radius: 20px;
}
.footer-link {
    word-spacing: 2px;
    text-align: center;
}
.no-sides {
    border: 1px solid black;
    border-right: 0px;
    border-left: 0px;
}
.t-line {
    border-left: 1px solid black;
    margin-left: 20px;
}
body {
    background-color: #d9d9d9;
    font-family: "Trebuchet MS", Helvetica, Sans-serif;
    min-width: 250px;
}
a {
    color: black;
}
figcaption {
    color: grey;
    font-size: 12px;
    text-align: center;
}
header {
    border-bottom: 1px solid black;
}
a:hover {
    background-color: #d9d9d9;
}

@media (max-width: 750px) {
    /* CSS is coded using a mixture of set classes which define general behaviour
    within all corrisponding relatives. Along with set CSS to define
    individual behaves throughout the webpage. 
    As I am programming I begin to notice items that can be grouped
    so I like to group behavious classes like containers, which give
    set corrisponding attributes similar to CSS styling sheets.
    I have created the style to suit what my purpose and idea is,
    thats to create a webpage which is more like an active word
    editor to give a professional CV vibe. As thought the CV
    is on an active website.*/
    .nav-tab {
        text-decoration: none;
        padding: 4px;
        margin-top: 4px;
        margin-bottom: 4px;
        width: 100%;
        float: left;
        background-color: #ffffff;
        text-align: center;
    }
    .contact-tab {
        text-decoration: none;
        padding: 4px;
        margin-top: 4px;
        margin-bottom: 4px;
        width: 100%;
        float: left;
        background-color: #ffffff;
        text-align: center;
    }
    .img-res {
        width: 100%;
        height: 30vh;
        margin-left: auto;
        margin-right: auto;
    }
    .pp-img {
        width: 60vw;
        height: 60vw;
        display: inline-block;
        margin-right: auto;
        margin-left: auto;
        margin: 5px;
        padding: 5px;
        border: 1px solid black;
        border-radius: 50%;
    }
    h3 {
        text-align: center;
    }
    nav {
        width: 100%;
        position: relative;
        top: 0px;
        left: 0px;
        overflow: hidden;
        background-color: #ffffff;
        box-shadow: 5px 5px #cccccc;
    }
    aside {
        float: none;
        width: auto;
        text-align: center;
    }
    figure {
        float: none;
        width: 75%;
        text-align: center;
    }
    main {
        height: auto;
        margin-left: 5px;
        margin-top: 10px;
    }
}
@media (min-width: 750px) {
    .nav-tab {
        text-decoration: none;
        padding: 4px;
        margin: 4px;
        float: left;
        background-color: #ffffff;
    }
    .contact-tab {
        text-decoration: none;
        padding: 4px;
        margin: 4px;
        float: right;
        background-color: #ffffff;
    }
    .img-res {
        width: 25vw;
        height: 30vh;
    }
    .pp-img {
        width: 25vw;
        height: 25vw;
        margin: 5vw;
        padding: 5px;
        border: 1px solid black;
        border-radius: 50%;
    }
    .overview p {
        margin: 5px;
    }
    /* These are class controlls to be able to modify and alter the display
    for the two different media files, these set the corrosponding
    elements to set behaviours depending on the size of the device.
    Classes stand for alt, alternative versions of these elements, which
    are set to false and inactive during bigger devices and true on
    smaller device.
    On the other hand, the tra, which is traditional classess
    set elements to have true behaviours whilst viewed on a larger device
    but are set to have false attributes and behaviours on smaller devices. */
    /* I set the individual elements afterwards, as I notice that I
    require a CSS attribute to customise behaviours within a paticular
    set of elements. */
    .t-line > li {
        margin: 30px;
        margin-left: -26px;
    }
    .f-left {
        float: left;
    }
    main {
        height: auto;
        margin-left: 5px;
        margin-top: 45px;
    }
    nav {
        width: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        overflow: hidden;
        background-color: #ffffff;
        box-shadow: 5px 5px #cccccc;
    }
    aside {
        float: right;
        width: 33%;
    }
    figure {
        float: right;
        width: 33%;
    }
}